
.exaple-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  #main-header{
      background-color: #3f51b5;
      height: 49px; 
      text-align: center
  }

  #main-header-title{
      color: #ffffff;
      font-size: 50px;
  }

  #upload-mat-card-div{
      margin-left: 20%
  }

  #upload-div{
    position: absolute;
    top:50%;
    left:50%;
    padding:15px;
    margin-top: 30px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 515px;
    height: 519px;
  }

  #upload-button{
      margin-left: 10px;
  }

  #image-place{
    height: 224px;
    width: 252px;
  }

  #show-image-div{
      margin-top: 30px;
  }

  button{
    background-color: #3f51b5;
      color: #ffffff
  }

  #submit-image-button{
      margin-top: 10px;
      margin-left: 20%;
      
  }

  p{
    font-family: "Times New Roman", Times, serif;
  }

.example-margin {
  margin: 0 10px;
}